
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2;
    background-color: rgb(195, 212, 205);
}


h1 {
    font-size: 2.4rem;
    margin: 0;
}

nav>div {
    background-color: rgb(214, 194, 210);
}

.image-centered {
  justify-content: center;
  display: flex;


}

#background-image {
    background-image: url(../images/dogtreats.jpg);

   
}

.image-backkground-size {
    height: 32rem;
    background: center 70%/ cover no-repeat;
    width: 700px;
    height: 200px;
}








#button {
    background-color:rgba(165, 159, 159, 0.509);
    justify-content: center;
    padding: 25px;
    


}



#main-header {
    background-image: url(../images/dogtreats.jpg);
    background-repeat: no-repeat;
    height: 30rem;
    width: auto;
}

 #main-page-header{
    height: 200px;
    background: center 85%;


}


.text-centered-header {
    color: rgb(4, 0, 0);
    text-align: center;

    
}








































