
html {
    font-size: 15px;

}

form {
    max-width: 28rem;
    margin: auto;
    padding: 1.2rem ;
    border: 1px solid slategray;
    border-radius: 7px;
    font-family:Helvetica, sans-serif;

}

 label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;

}

#h1-form {
    text-align: center;
    font-family:Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 12px;
}

input[type="radio"] {
    width:auto;
    margin-right:8px;
}

input[type="submit"]:hover {
    background-color: rgb(157, 71, 169);

}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2;
    background-color: rgb(195, 212, 205);
}


h1 {
    font-size: 2.4rem;
    margin: 0;
}

.p-centered {
    text-align: center;
}


nav>div {
    background-color: rgb(233, 233, 237);
}

.image-centered {
  justify-content: center;
  display: flex;


}

#background-image {
    background-image: url(../images/dogtreats.jpg);

   
}

.image-backkground-size {
    height: 32rem;
    background: center 70%/ cover no-repeat;
    width: 700px;
    height: 200px;
}


h1 {
    font-size: 2.4rem;
    color: rgb(0, 0, 0);
}

#p {
    color: rgb(10, 56, 3);
}

div {
    margin-right: 300px;
    padding: 8px;

}


#button {
    background-color:rgba(165, 159, 159, 0.509);
    justify-content: center;
    padding: 25px;
    


}



#main-header {
    background-image: url(../images/dogtreats.jpg);
    background-repeat: no-repeat;
    height: 30rem;
    width: auto;
}

 #main-page-header{
    height: 200px;
    background: center 85%;


}


.text-centered-header {
    color: rgb(4, 0, 0);
    text-align: center;

    
}








































