


.body {
    background-image: url(../images/manja-vitolic-gKXKBY-C-Dk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 75%;
    justify-content: center;
    font: 1em sans-serif;

}


#button {
    background-color:rgba(165, 159, 159, 0.509);
    justify-content: center;
    padding: 25px;
    


}



#main-header {
     background-image: url(../images/Cat1.jpg);
     background-repeat: no-repeat;
     height: 30rem;
     width: auto;
     

     

}

 .main-page-header{
    height: 200px;
    background: center 85%;


}


.text-centered-header {
    color: rgb(4, 0, 0);
    text-align: center;

    
}








































