 html  {

  font-size: 15px;

}




 body  {
  font-family: Arial, Helvetica, sans-serif;
    margin: 2px; 
  background-color: #f5f1e8; 
}




 h1 {
  font-size: 2.4rem;
  margin: 0;
  color: #000;
}

 .h2-title  {

  text-align: center;
 margin-bottom: 23px;
 color: #5d4037;


}

 #form   {

  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 12px;
  color: #5d4037;
  


}

.form-section {
  cursor: pointer;
}



 .text-centered-header {

 color: #3d2817;  
  text-align: center;

}


 nav > div {
  background-color: rgb(233, 233, 237);
}

.navbar .container-fluid {
  justify-content: flex-start;
}

.navbar-nav {
  margin-left:20px;
  flex-direction: row;
}

.nav-items {
  margin-right: 20px;
}

.nav-link {
  padding: 8px 15px;
}

 form {
   max-width: 28rem;
  margin: auto;
  padding: 1.2rem;
   border: 1px solid #8d6e63;
  border-radius: 7px;
font-family: Helvetica, sans-serif;

}



 label {
  display: block;
   margin-top: 10px;
  font-size: 15px;
   font-weight: bold;
   color: #5d4037;
}


input[type="radio"] {
  width: auto;
  margin-right: 8px;
}

input[type="submit"]:hover {
  background-color: #a1887f;
}

.title {

   text-align: center;
  padding: 30px 20px;
   background: #8d6e63;
  font-size: 20px;

}

 .div-box {

  background: #bcaaa4;
   border: 1px solid #8d6e63;
  border-radius: 5px;
  padding: 14px;
 margin: 9px;
   max-width: 300px;


}


 .sub-title {
  font-size: 25px;
  margin-bottom: 12px;
  color: #5d4037;

}





.section-history h2 {
  margin: 30px 0;
padding: 15px;
 background-color: #a1887f;
 border: 1px solid #8d6e63;
font-style: italic;
color: #fff;

}

.section-history p {
  margin: 30px 0;
  padding: 15px;
 background-color: #d7ccc8;
 border: 1px solid #8d6e63;
 color:#3d2817;

}

.fun-facts { 

  margin: 30px 0;
  padding: 15px;
  background-color: #efebe9;
 border: 1px solid #8d6e63;

}

  .fun-facts li {
    padding: 15px;
  background-color: #d7ccc8;
    border: 1px solid #8d6e63;
    color: #3d2817;


}



  .section-box {
  display: flex;
    flex-wrap: wrap;
  justify-content: space-around;
    padding: 20px;
}

.p-centered {
  text-align: center;
}

.image-centered  {

  display: flex;
  justify-content: center;

}



#main-header   {
   background-image: url(../images/dogtreats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40vh; 
}



#main-page-header  {
  height: 200px;
  background-position: center 85%;
}

  #background-image {

  background-image: url(../images/dogtreats.jpg);
  background-size: cover;
  background-position: center;

  }

.image-background-size {

  width: 700px;
   height: 200px;
   background-position: center 70%;
    background-size: cover;
   background-repeat: no-repeat;

  }

.qa-section {

   margin: 30px auto;
  padding: 17px;

}

summary.button {
  cursor: pointer;
  font-weight: bold;
    font-size: 12px;
 background: #efebe9;
   border: 1px solid #8d6e63;
  border-radius: 5px;
  color: #5d4037;
  padding: 10px;
}



summary:hover {
  background-color: #d7ccc8;
  color: #3d2817;
font-weight: bold;
}

details p,
details ul {
  margin: 20px 0;
 padding: 8px;
  background: #efebe9;
  color: #3d2817;
  border-left: 3px solid #8d6e63;
}

.quick-tip  {
  font-style: italic;
  color: #5d4037;
  margin-top: 7px;

}




.info   {

  background: #bcaaa4;
   border: 1px solid #3d2817;
  border-radius: 8px;
   padding: 10px 15px;
   color: #3d2817;
   margin-bottom: 20px; 

}



.gallery-wrapped  {

  display: flex;
 justify-content: flex-start;
 align-items: flex-start;
  margin: 15px 0;

}

#div-gallery {
  display: flex;
    flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0;
  max-width: 100%;
}

#div-gallery img {
  width: 100%;
  max-width: 180px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 4px;
    border-radius: 6px;
  border: 2px solid #8d6e63;
   padding: 4px;

}
@media (min-width:601px) and (max-width:1024px) {
    #div-gallery img {
      flex: 1 1 45%;
     max-width: 45%;  
    }
     
}
 
     @media (max-width:600px) {
      #div-gallery img {
        flex: 1 1 100%;
        max-width: 100%;
      }
     }
  




 .about-section  {
   padding: 20px;
  max-width: 800px;
   margin: 0 auto;

 }

.about-section h2 {
  font-size: 23px;
   margin-bottom: 8px;
  border: 2px solid #8d6e63;
   font-style: italic;
  background-color: #a1887a;
  color: #fff;
  padding: 10px;
}



 .about-section h3 {
  font-size: 23px;
    margin-top: 23px;
  color: #5d4037;
  font-weight: bold;
}




  .about-section p {

  line-height: 19px;
   margin-bottom: 16px;
   color: #3d2817;
}

.about-section img.mimi-pic {

  display: block;
    margin: 0 auto 17px auto;
   max-width: 220px;
  border-radius: 7px;
  border: 3px solid #8d6e63;
}

.about-section ul li {

  margin: 7px 0;
   color: #5d4037;
  line-height: 20px;
}

  .testimonies-about  {

  margin: 30px 0;
   padding: 15px;
  background-color: #d7ccc8;
   border: 1px solid #8d6e63;
}

 .testimonies-about h2 {

  font-size: 22px;
    margin-bottom: 15px;
  color: #3d2817;
  font-weight: bold;
}

 .testimonies-about blockquote {

  margin: 15px;
  padding-left: 15px;
  border-left: 3px solid #8d6e63;
   font-style: italic;
  color: #3d2817;
   line-height: 22px;

}

 .section-socials {

  clear: both;
    font-size: 15px;
  margin: 30px 0;
  padding: 15px;
 background-color: #a1887f;
   border: 1px solid #8d6e63;
   color: #fff;



}







 .section-h3  {

  font-size: 19px;
 margin-bottom: 8px;
 color: #5d4037;


}


@media (max-width: 600px) {
  html {
    font-size: 14px; 
  }

  body {
    margin: 0; 
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .section-box {
    flex-direction: column;
    align-items: center;
  }

  .div-box {
    max-width: 90%; 
    margin: 10px 0;
  }

  #div-gallery {
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }

  #div-gallery img {
    width: 100%;
    max-width: 180px; 
    height:auto
  }

  form {
    width: 95%;
    padding: 1rem;
  }
}



  




 






















